<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>H2Light</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/highlight_css.css" rel="stylesheet">
    <link href="../../static/css/example_css.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../../index/">H2Light</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="../extract/">Extract</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="../example/">Example</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="extract text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <p class="text-secondary">Listen to music highlight from other users!<br><br></p>
        </div>
    </div>
    <div class="container" style="width:70%">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 70%">제 목</th>
                <th style="width: 30%">가 수</th>
            </tr>
            </thead>
            {% for music in musics %}
                <tr>
                    <td><a href={% url 'result_detail' pk=music.id %}>{{ music.title }}</a></td>
                    <td>{{ music.musician }}</td>
                </tr>
            {% endfor %}
        </table>
    <br><br>
    </div>
    <div class="layer">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if musics.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ musics.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                {% endif %}
                {% for i in musics.paginator.page_range %}
                    {% if i == musics.number %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if musics.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ musics.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ musics.paginator.num_pages }}">Last
                    </a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; H2Light 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../../static/vendor/jquery/jquery.min.js"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
